name: Test Automation

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
      - name: 코드 체크아웃
        uses: actions/checkout@v3
      
      - name: JDK 17 설치
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'corretto'
      
      - name: 권한 부여
        run: chmod +x gradlew
      
      - name: 테스트 실행
        run: ./gradlew test
      
      - name: 테스트 결과 리포트 업로드
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: test-results
          path: build/test-results/test/
      
      - name: 테스트 커버리지 확인
        run: ./gradlew jacocoTestReport
      
      - name: 커버리지 리포트 업로드
        uses: actions/upload-artifact@v3
        with:
          name: coverage-report
          path: build/reports/jacoco/test/html/
